body {
    background-color: bisque;
    font-family: 'Nunito Sans';
}

h1 {
    text-align: center;
}

.textbox {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

textarea {
    width: 500px;
    height: 400px;
}

.button {
    text-align: center;
    margin-top: 2em;
}